<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2024.3.806(AdditionalPackages)" value="C:\Users\ChandrakantShinde\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2024.3.806.trial\" />
    <add key="Telerik UI for ASP.NET Core 2024.3.806(MainPackage)" value="C:\Users\ChandrakantShinde\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2024.3.806.trial\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>